.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .form {
    box-shadow: 7px 5px 18px -4px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 7px 5px 18px -4px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 7px 5px 18px -4px rgba(0, 0, 0, 0.83);
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    padding: 30px 40px;

    h2 {
      text-align: center;
      margin: 0 0 20px;
    }

    .form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
    }

    .form-control label {
      color: #777;
      display: block;
      margin-bottom: 5px;
    }

    .form-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      width: 100%;
      padding: 10px;
    }

    .form-control input dual {
      display: flex;
    }
    .form-control input:focus {
      border: none;
    }
  }
}
